.container {
  display: flex;
  justify-content: space-between;

  background: var(--gray-500);
  border-radius: 0.5rem;
  padding: 1rem;
}

.container + .container {
  margin-top: 0.75rem;
}

.title {
  width: 100%;
  font-size: 0.875rem;
  margin: 0 0.75rem;

  color: var(--gray-100);
}

.titleDone {
  color: var(--gray-300);
  text-decoration: line-through;
}

.checkButton {
  display: flex;
  align-items: center;
  justify-content: center;

  margin-top: 0.125rem;

  width: 1.1rem;
  height: 1.1rem;

  border: 2px solid var(--blue-200);
  border-radius: 50%;

  background-color: transparent;
  color: var(--gray-100);
  cursor: pointer;
}

.checkButton:hover {
  background-color: #1e6f9f33;
  border: 2px solid var(--blue-500);
}

.checkDoneButton {
  border: 2px solid var(--purple-500);
  background-color: var(--purple-500);
}

.checkDoneButton:hover {
  border: 2px solid var(--purple-200);
  background-color: var(--purple-200);
}

.trashButton {
  cursor: pointer;
  width: 1.5rem;
  height: 1.5rem;
  border-radius: 4px;
  border: 0;
  background: none;
  color: var(--gray-300);
  line-height: 0;

  transition: all 0.1s;
}

.trashButton:hover {
  color: var(--red-200);
  background-color: var(--gray-400) ;
}